@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
    background-color: rgb(24, 52, 68);
    color: white;
    flex-direction: row;
    gap: 5px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    flex-basis: 1fr 1fr;
    font-weight: bold;
}

.nav-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.nav-left > div {
    padding: 0 5px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
}

.nav-left .logo > img {
    text-align: center;
    height: 20px;
    filter: brightness(0) invert(1);
    
}

.nav-left .search-box {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
}

.nav-left .search-box input {
    border: none;
    outline: none;
}

.nav-left .search-box input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.nav-left .search-box i {
    color: rgb(24, 52, 68);
}

.nav-left .dropdown-menu {
    display: flex;
    align-items: center;
}

.nav-left .dropdown-menu a {
    text-decoration: none;
    color: white;
}

.nav-left .dropdown-menu p {
    display: inline;
}

.nav-right > div {
    padding: 0 5px;
}

.nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.nav-right .free-trial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 166, 35);
    color: black;
    padding: 0 5px;
    border-radius: 6px;
    gap: 10px;
    height: 40px;
}

.nav-right .free-trial p {
    font-weight: bold;
}

.nav-right .menubar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.nav-right .menubar a {
    text-decoration: none;
    color: white;
}

.nav-right .menubar p {
    display: inline;
    font-size: 12px;
}

.nav-right .menubar i {
    font-size: 18px;
}