@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    font-family: 'Segoe UI', sans-serif;
}

.logo-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

hr {
    border-color: grey;
}

.not-found {
    text-align: center;
}

.not-found h1 {
    font-size: 24px;
    font-weight: 500;
}

.not-found a {
    text-decoration: none;
    color: rgb(0, 55, 107);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 0.3px solid lightgray;
}

.account-action > button {
    font-size: 14px;
    font-weight: bold;
}

.sign-in {
    background-color: rgb(0, 149, 246);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 15px;
}

.sign-up {
    background-color: white;
    border: none;
    cursor: pointer;
    color: rgb(0, 149, 246);
    padding: 5px;
}

