@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: fit-content;
    background-color: #0e1620;
    display: grid;
    grid-template-columns: 300px 600px 300px;
    padding: 0px 30px;
}

.profile {
    width: 300px;
    font-family: 'Roboto', sans-serif;
}

.profile img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: relative;
    top: 25px;
}

.profile-header {
    border-radius: 12px 12px 0 0;
    text-align: center;
    background: rgb(13, 104, 231);
    background: url('https://apps.shobhitsharma.net/raw/Cover.jpg');
    background-position: center;
    background-size: cover;
}

.profile-body {
    border-radius: 0 0 15px 15px;
    background-color: #243447;
}

.profile-info {
    margin: 0 30px;
    padding: 35px 0 10px;
    text-align: center;
}

.profile-info h1 {
    font-weight: 300;
    margin: 0px 0;
    font-size: 23px;
    color: #F5F8FA;
}

.profile-info h2 {
    margin: 5px 0;
    color: #657786;
    font-size: 15px;
}

.profile-info p {
    color: rgb(170, 184, 194);
    font-size: 13px;
}

hr {
    border-color: #243447;
    border-width: 0.1;
    margin: 0;
}

.stat-box {
    padding: 5px 0;
    display: flex;
}

.stat-box div {
    width: 100%;
    text-align: center;
}

.stat-box h3 {
    color: #F5F8FA;
    margin-bottom: 0;
}

.stat-box p {
    color: #AAB8C2;
    margin-top: 8px;
}

.my-profile {
    padding: 10px 0px;
    text-align: center;
}

.my-profile p {
    color: #1DA1F2;
}

.follow-suggestion {
    font-family: 'Roboto', sans-serif;
    background-color: #243447;
    width: 270px;
    border-radius: 12px;
    padding: 14px;
    margin: 10px 0px;
}

.follow-suggestion h4 {
    color: #F5F8FA;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.follow-profile {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
}

.follow-profile img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.follow-info p {
    font-size: 12px;
    margin: 3px;
    color: #657786;
}

.follow-info h5 {
    font-size: 15px;
    color: #F5F8FA;
    font-weight: 400;
    margin: 0px;
}

.follow-btn {
    background: white;
    font-size: 12px;
    font-weight: 500;
    border-radius: 100px;
    padding: 7px 15px;
    text-align: center;
    height: fit-content;
}

.show-more {
    font-size: 12px;
    margin: 25px 0 5px 0;
    color: #1DA1F2;
}

.trending {
    background-color: #243447;
    height: 500px;
    border-radius: 12px;
    padding: 10px 15px;
}

.trend-header {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.trend-header h4 {
    margin: 5px 0px;
}

.trend-category h3 {
    color: #AAB8C2;
    font-size: 14px;
    font-weight: 300;
}

.posts {
    background-color: #243447;
    margin: 0px 20px;
}